:root {
    --buutton_color: blue;
    --button_font_color: white;
}

body,
html {
    background-color: gray;
    height: 99%;
}

.camerabox {
    background-color: rgb(107, 104, 104);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
}

.camera {
    background-color: rgb(180, 166, 166);
    margin: auto;
    width: 100%;
    height: 100%;
}

.img {
    background-color: rgb(180, 166, 166);
    width: 100%;
}

.button_container {
    text-align: center;
}

.goback {
    background-color: var(--buutton_color);
    color: var(--button_font_color);
    font-size: large;
    text-decoration: none;
    text-transform: uppercase;
    width: 150px;
    height: 60px;
    border: 2px var(--buutton_color) solid;
    border-radius: 10px;
    transition-duration: .5s;
}

.goback:hover {
    background-color: var(--button_font_color);
    color: var(--buutton_color);
    border: 2px var(--button_font_color) solid;
    transition-duration: .5s;
}