:root {
    --buutton_color: blue;
    --button_font_color: white;
    --light_theme_color: white;
    --dark_theme_color: rgb(41, 32, 32);
}

body,
html {
    background-color: rgb(109, 105, 105);
    margin: 0;
    height: 100%;
}

.go_dark_theme {
    background-color: white;
    color: black;
    font-size: large;
    text-decoration: none;
    text-transform: uppercase;
    width: 150px;
    height: 95%;
    border: 2px white solid;
    border-radius: 10px;
    transition-duration: .5s;
}

.go_dark_theme:hover {
    background-color: black;
    color: white;
    border: 2px black solid;
    transition-duration: .5s;
}

.bar {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    text-align: right;
    height: 30px;
    width: 100%;
}

.camerabox {
    background-color: var(--light_theme_color);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
}

.img_camera {
    width: 95%;
    height: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

.img_camera_big {
    width: 100%;
    height: 100%;
}

.link {
    text-decoration: none;
    background-color: var(--light_theme_color);
    text-align: center;
    margin: auto;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.camera {
    background-color: var(--light_theme_color);
    text-align: center;
    margin: auto;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.img {
    background-color: var(--light_theme_color);
    width: 100%;
    height: 100%;
}

.goback {
    top: 5%;
    right: 87%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    position: absolute;
    background-color: transparent;
    color: black;
    font-size: large;
    text-decoration: none;
    text-transform: uppercase;
    width: 150px;
    height: 60px;
    border: 2px transparent solid;
    border-radius: 10px;
    transition-duration: .5s;
}

.goback:hover {
    background-color: var(--button_font_color);
    color: var(--buutton_color);
    border: 2px var(--button_font_color) solid;
    transition-duration: .5s;
}