:root {
    --buutton_color: blue;
    --button_font_color: white;
    --light_theme_color: white;
    --dark_theme_color: rgb(41, 32, 32);
}

body,
html {
    background-color: rgb(109, 105, 105);
    margin: 0;
    height: 100%;
}

.go_light_theme {
    background-color: black;
    color: white;
    font-size: large;
    text-decoration: none;
    text-transform: uppercase;
    width: 150px;
    height: 95%;
    border: 2px black solid;
    border-radius: 10px;
    transition-duration: .5s;
}

.go_light_theme:hover {
    background-color: white;
    color: black;
    border: 2px white solid;
    transition-duration: .5s;
}

.bar {
    background-color: rgb(58, 46, 46);
    text-align: right;
    height: 30px;
    width: 100%;
}

.camerabox {
    background-color: var(--dark_theme_color);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
}

.img_camera {
    width: 95%;
    height: 95%;
    margin-left: auto;
    margin-right: auto;
}

.img_camera_big {
    width: 100%;
    height: 100%;
}

.link {
    text-decoration: none;
    color: black;
}

.camera {
    background-color: var(--dark_theme_color);
    text-align: center;
    margin: auto;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.img {
    background-color: var(--dark_theme_color);
    width: 100%;
}

.button_container {
    text-align: center;
}

.goback {
    background-color: var(--buutton_color);
    color: var(--button_font_color);
    font-size: large;
    text-decoration: none;
    text-transform: uppercase;
    width: 150px;
    height: 60px;
    border: 2px var(--buutton_color) solid;
    border-radius: 10px;
    transition-duration: .5s;
}

.goback:hover {
    background-color: var(--button_font_color);
    color: var(--buutton_color);
    border: 2px var(--button_font_color) solid;
    transition-duration: .5s;
}